/* BASE CSS */

:root {
  --font-main: 'Inter', system-ui, sans-serif;
  --color-bg: #f5faff;
  --color-text: #2e3440;
  --color-accent: #a0c4ff;
  --color-soft: #e0e7ff;
  --color-muted: #dbe9f4;
}

body {
  background-color: #fff;
  color: var(--color-text);
  font-size: 1rem;
}

.container {
}

/*-- PÁGINA INICIAL --*/
.pagina-inicial main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  min-height: 90vh;
  flex: 1;
}

.pagina-inicial {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

/*-- MENU DE NAVEGACAO --*/
#menu ul {
  display: flex;
  flex-direction: column;
}

.nav-link {
  width: fit-content;
  display: block;
  background-color: #ffffff80;
  color: var(--color-text);
  padding: 0.5rem 1rem;
  white-space: nowrap;
}

/*-- HERO --*/
.titulo {
  font-size: 3rem;
  line-height: 3rem;
  text-transform: uppercase;
  text-align: center;
}

#hero p {
  margin: 1rem 2rem;
}

.banner img {
  width: 100%;
  height: 35vh;
  object-fit: cover;
  display: block;
}

/*-- FOOTER --*/
footer {
  text-align: center;
  font-size: 0.9rem;
  bottom: 0;
}